CloudmersiveIcapClient/.vs/CloudmersiveIcapClient/FileContentIndex/39952906-3987-4855-a73c-c01a82d887a4.vsidx
CloudmersiveIcapClient/.vs/CloudmersiveIcapClient/FileContentIndex/4def91ba-1d89-4ddf-887a-7309b72ed73c.vsidx
CloudmersiveIcapClient/.vs/CloudmersiveIcapClient/v17/.suo
CloudmersiveIcapClient/.vs/CloudmersiveIcapClient/v17/DocumentLayout.backup.json
CloudmersiveIcapClient/.vs/CloudmersiveIcapClient/v17/DocumentLayout.json
CloudmersiveIcapClient/.vs/CloudmersiveIcapClient/v17/TestStore/0/000.testlog
CloudmersiveIcapClient/.vs/CloudmersiveIcapClient/v17/TestStore/0/testlog.manifest
